.example-form-field {
    margin: 0 8px 16px 0;
  }
  .fields{
      margin-left: 600px;
  }
  .location{
      margin-left: 50px;
  }

  .sidenav .mat-list-option {
    width: 197px;
    height: 50px;
}
.option {
    border-radius: 1px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.slider {
    position: absolute;
    top: 10%;
    width: 287px;
    height: 846px;
}
.mat-list-option[aria-selected="true"] {
    background-color: #feefc3;
}

.mat-list-option:hover {
    background-color: rgba(0, 0, 0, .2);
}
