<app-toolbar></app-toolbar>
<div class="fields">
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>CheckIn Time</mat-label>
        <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker"
            [comparisonStart]="campaignTwo.value.start" [comparisonEnd]="campaignTwo.value.end">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="location">
        <mat-label>Enter Location</mat-label>
        <input matInput>
        <mat-icon matSuffix>fmd_good</mat-icon>
    </mat-form-field>
</div>
<app-gethotels></app-gethotels>