<app-toolbar></app-toolbar>
<div class="wholediv">
    <div fxFlex="10% ">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-drawer #drawer class="sidenav" mode="side" class="slider">
            <mat-selection-list [multiple]="false ">
                <mat-list-option class="option">
                    Trips
                </mat-list-option>
                <mat-list-option class="option">Explore</mat-list-option>
                <mat-list-option class="option">Edit lable</mat-list-option>
                <mat-list-option class="option">Things to do</mat-list-option>
                <mat-list-option class="option">Hoiday Rental</mat-list-option>
            </mat-selection-list>
        </mat-drawer>
    </div>
    <div fxFlex="column" fxFlex="90%" class="content " fxLayout="column wrap" fxLayoutGap="35px grid">
        <div class="fields">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>CheckIn Time</mat-label>
                <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker"
                    [comparisonStart]="campaignTwo.value.start" [comparisonEnd]="campaignTwo.value.end">
                    <input matStartDate placeholder="Start date" formControlName="start">
                    <input matEndDate placeholder="End date" formControlName="end">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="location">
                <mat-label>Enter Location</mat-label>
                <input matInput>
                <mat-icon matSuffix>fmd_good</mat-icon>
            </mat-form-field>
        </div>
        <app-gethotels></app-gethotels>
    </div>
</div>