<app-toolbar></app-toolbar>
<div class="card">
    <div class="customerDetails" *ngIf="orderSummary">

        <div class="heading1">
            <h1 class="heading">Personal Information</h1>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>First Name</mat-label>
                <input matInput placeholder=" Name" [formControl]="fName" [(ngModel)]="NAME">
                <mat-error *ngIf="fName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="LNAME" [formControl]="lName" [(ngModel)]="LNAME">
                <mat-error *ngIf="lName.invalid">{{getLastNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Nick Name</mat-label>
                <input matInput placeholder=" Name" [formControl]="nName">
                <mat-error *ngIf="nName.invalid">{{getNickNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Gender</mat-label>
                <input matInput placeholder="Male or Female" [formControl]="gender" [(ngModel)]="GENDER">
                <mat-error *ngIf="gender.invalid">{{getGenderErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder=" Phone Number" [formControl]="phNumber" [(ngModel)]="PHNUM">
                <mat-error *ngIf="phNumber.invalid">{{getPhoneErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [formControl]="email" [(ngModel)]="EMAIL">
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="fill" class="name1">
                <mat-label>Select an State</mat-label>
                <mat-select [(value)]="State" [(ngModel)]="State" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let State of States" [value]="State">
                        {{ State }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="name1">
                <mat-label>Select an City</mat-label>
                <mat-select [(value)]="City" [(ngModel)]="City" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let City of Cities" [value]="City">{{ City }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name1">
                <mat-label>Pin</mat-label>
                <input matInput placeholder="eg: 711101" [formControl]="pin">
                <mat-error *ngIf="pin.invalid">{{getPincodeErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <mat-form-field class="address">
            <mat-label>Permenant Address</mat-label>
            <textarea matInput placeholder="Street Locality and Area"></textarea>
        </mat-form-field>

        <div class="continueButton">
            <button mat-stroked-button color="primary" class="button" *ngIf="orderSummary"
                (click)="orderSummaryFalse()">Continue</button>
        </div>
    </div>

    <div class="customerDetails" *ngIf="!orderSummary && educationalDetails">
        <div class="heading1">
            <h1 class="heading"> Family Information</h1>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Fathers Full Name</mat-label>
                <input matInput placeholder="Fathers Name" [formControl]="fatherName">
                <mat-error *ngIf="fatherName.invalid">{{getFatherNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Mothers Full Name</mat-label>
                <input matInput placeholder="Mothers Name" [formControl]="motherName">
                <mat-error *ngIf="motherName.invalid">{{getMotherNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Fathers Occupation</mat-label>
                <input matInput placeholder="Fathers Occupation" [formControl]="fatherOccupation">
                <mat-error *ngIf="fatherOccupation.invalid">{{getFatherOccupationErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Mothers Occupation</mat-label>
                <input matInput placeholder=" Mothers Occupation" [formControl]="motherOccupation">
                <mat-error *ngIf="motherOccupation.invalid">{{getMotherOccupationErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Fathers Age</mat-label>
                <input matInput placeholder="Fathers Age" [formControl]="fathersAge">
                <mat-error *ngIf="fathersAge.invalid">{{getFatherAgeErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Mothers Age</mat-label>
                <input matInput placeholder="Mothers Age" [formControl]="motherAge">
                <mat-error *ngIf="motherAge.invalid">{{getMotherAgeErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Fathers Mobile Number</mat-label>
                <input matInput placeholder="Enter Fathers Mobile Number" [formControl]="fatherPhNumber">
                <mat-error *ngIf="fatherPhNumber.invalid">{{getFatherPhoneErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Mothers Mobile Number</mat-label>
                <input matInput placeholder="Enter Mothers Mobile Number" [formControl]="motherPhNumber">
                <mat-error *ngIf="motherPhNumber.invalid">{{getMotherPhoneErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <mat-form-field class="address">
            <mat-label>Parents Permenant Address</mat-label>
            <textarea matInput placeholder="Street Locality and Area"></textarea>
        </mat-form-field>

        <div class="continueButton" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-stroked-button color="primary" class="button" *ngIf="!orderSummary"
                (click)="orderSummaryFalse()">Back</button>

            <button mat-stroked-button color="primary" class="button" *ngIf="!orderSummary"
                (click)="educationalDetailsFalse()">Continue</button>
        </div>
    </div>

    <div class="customerDetails" *ngIf="!educationalDetails && experienceDetails ">
        <div class="heading1">
            <h1 class="heading"> Educational Details</h1>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="fill" class="name">
                <mat-label>Highest Qualification</mat-label>
                <mat-select [(value)]="HighestQulification" [(ngModel)]="HighestQulification"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let HighestQulification of HighestQulifications" [value]="HighestQulification">
                        {{ HighestQulification }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="name">
                <mat-label>Specilization</mat-label>
                <mat-select [(value)]="Stream" [(ngModel)]="Stream" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let Stream of Streams" [value]="Stream">{{ Stream }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name1">
                <mat-label>10th University</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name1">
                <mat-label>12th University</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name1">
                <mat-label>Highest Degree University</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name1">
                <mat-label>10th Percentage</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name1">
                <mat-label>12th Percentage</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name1">
                <mat-label>Highest Degree Aggregate</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name1">
                <mat-label>10th Passout Year</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name1">
                <mat-label>12th Passout Year</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name1">
                <mat-label>Highest Degree Passout Year</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div>
            Are you fresher or experience??If experience then fill the Professional details please
            <mat-radio-group aria-label="Select an option" class="radiobuttons">
                <mat-radio-button value="1">Fresher</mat-radio-button>
                <mat-radio-button value="2" (click)="professitionalDetailsFalse()">Experience</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="continueButton" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-stroked-button color="primary" class="button" *ngIf="!orderSummary"
                (click)="educationalDetailsFalse()">Back</button>

            <button mat-stroked-button color="primary" class="button">Submit Details</button>
        </div>
    </div>

    <div class="customerDetails" *ngIf="!experienceDetails">
        <div class="heading1">
            <h1 class="heading"> Professional Details</h1>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Experience in years</mat-label>
                <input matInput placeholder="Ex:2 yrs">
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Company Name</mat-label>
                <input matInput placeholder="Ex:Quixy">
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Designation</mat-label>
                <input matInput placeholder="Ex:Associate Software Engineer">
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Location of Working</mat-label>
                <input matInput placeholder="Ex:Hyderabad">
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="fill" class="name">
                <mat-label>Languages you Worked On</mat-label>
                <mat-select [formControl]="languages" multiple>
                    <mat-option *ngFor="let language of languagesList" [value]="language">{{language}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Package</mat-label>
                <input matInput placeholder="Ex:4LPA">
            </mat-form-field>
        </div>

        <div class="nameContainer">
            <mat-form-field appearance="outline" class="name">
                <mat-label>Expected Package</mat-label>
                <input matInput placeholder="Ex:10LPA">
            </mat-form-field>
            <mat-form-field appearance="outline" class="name">
                <mat-label>Expected Location of Working</mat-label>
                <input matInput placeholder="Ex:Hyderabad">
            </mat-form-field>
        </div>

        <div class="continueButton" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-stroked-button color="primary" class="button" *ngIf="!orderSummary"
                (click)="professitionalDetailsFalse()">Back</button>
            <button mat-stroked-button color="primary" class="button">Submit Details</button>
        </div>

    </div>
</div>