.hotel{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25%;
}

.hotel-card{
  width: 862px;
  height: 195px;
  background: white;
  border: 1px solid lightgrey;
 margin-top: 30px;
 border-radius: 10px;
}

.hotel-photo{
  width: 215px;
  height: 140px;
}

.hotel-info{
  padding: 8%;
  margin-top: -190px;
    margin-left: 236px;
}

.area-name{
  font-size: 15px;
  color: darkgrey;
}

.button1{
  font-size: 15px;
  color: white;
  background:  #05070a;
}

.price{
   font-weight: 500;
   margin-bottom: 8px;
   font-size: 20px;
 }

 .name{
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 30px;
}

 .butt{
   margin-top: 20px;
 }

 .image{
  height: 193px;
  display: flex;
  flex-direction: row;
  justify-content:safe;
  
}
.hotel-image{
  border-radius: 9px;
}