<div class="hotel" fxLayout="row">
    <div class="hotel-card" fxFlex="column" *ngFor="let data of Data">
        <div class="hotel-photo">
            <div class="image">
                <img class="hotel-image" src={{data.image}} alt="">
            </div>
        </div>
        <div class="hotel-info">
            <div class="name">{{data.Name}}</div>
            <div>{{data.Ratings}}</div>
            <div class="area-name">{{data.area}}</div>
            <div class="price">Rs.{{data.price}}/Day</div>
            <div fxLayout="row" fxLayoutAlign="space-between end" class="butt">
                <button mat-stroked-button color="primary" class="button1">Book Hotel</button>
                <button mat-stroked-button color="primary" class="button1">Add to favorite</button>
            </div>
        </div>
    </div>
</div>