
.button{
    background: rgb(14, 4, 5);
    color: #ffff;
    margin-left: 41%;
   
}
.head-text{
    color: #ffff;
}
.area{
    margin-left: 10px;
}
.description1{
    width: 412px;
}
.quantity1{
    margin-left: 10px;
}
.second-row{
    margin-top: 10px;
}
.image{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.hotel-image{
    width: 40%;
}
.text{
    display: flex;
    justify-content: center;
    font-size: larger;
}
.file{
    margin-left: 123px;
    margin-top: 5px;
}
.input-file{
    outline: none;
}