<div class="card">
    <div class="example-card">
      <div class="name" >
        <span class="heading">Registration Form</span>
      </div>
        <div class="text-field">
        <mat-form-field appearance="outline" class="fname">
            <mat-label >First Name</mat-label>
            <input matInput [formControl]="firstName">
            <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="lname">
            <mat-label>Last Name</mat-label>
            <input matInput  [formControl]="lastName">
            <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="email-container">
            <mat-form-field appearance="outline" class="email">
              <mat-label>Email Id</mat-label>
              <input matInput [formControl]="email">
              <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
        </div>
        <div class="text-field">
            <mat-form-field appearance="outline" class="gender">
                <mat-label >Gender</mat-label>
                <input matInput [formControl]="gender">
                <mat-error *ngIf="gender.invalid">{{getGenderErrorMessage()}}</mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="phone">
                <mat-label>Phone Number</mat-label>
                <input matInput [formControl]="phone">
                <mat-error *ngIf="phone.invalid">{{getPhoneErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
        <div class="text-field">
            <mat-form-field appearance="outline" class="city">
                <mat-label >City</mat-label>
                <input matInput [formControl]="city">
                <mat-error *ngIf="city.invalid">{{getCityErrorMessage()}}</mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="state">
                <mat-label>State</mat-label>
                <input matInput  [formControl]="state">
                <mat-error *ngIf="state.invalid">{{getStateErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
        <div>
               <mat-form-field class="city" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                </mat-form-field>
            <mat-form-field appearance="outline" class="password">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
           <button mat-raised-button  routerLink="/login" class="button">Sign in Instead</button>
            <button mat-raised-button class="button" (click)="register()">Register</button>
        </div>
    </div>
      </div>