.example-card {
    width:auto;
    padding: auto;
  }
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url("../../../assets/spot-lights-background-style_23-2148604781.jpg");
    background-size: cover;
  }
.name {
    font-size: 27px;
    padding: initial;
    margin-bottom: 30px
  }
.heading {
    color: black;
    margin-left: 130px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
  }
.fname{ 
    width: 225px;
}
.lname{
width: 225px;
margin-left: 10px; 
}
.email{
  display: block;
}
.gender{
    width: 225px;
}
.phone{
    width: 225px;
    margin-left: 10px;
}
.city{
    width: 225px;
}
.state{
    width: 225px;
    margin-left: 10px;
}
.pincode{
    width: 225px;
}
.button{
   background-color: rgb(1, 6, 14);
   color: #ffff
}
.password{
    width: 225px;
    margin-left: 10px;
}

