.example-card {
    width:auto;
    padding: auto;
  }
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url("../../../assets/ozero-lodka-zakat-siluet\ \(1\).jpg");
  }
.name {
    font-size: 27px;
    padding: initial;
    margin-bottom: 30px
  }
.heading {
    color: black;
  }
.fname{ 
    width: 225px;
}
.lname{
width: 225px;
margin-left: 10px; 
}
.email{
  display: block;
}
.gender{
    width: 225px;
}
.phone{
    width: 225px;
    margin-left: 10px;
}
.city{
    width: 225px;
}
.state{
    width: 225px;
    margin-left: 10px;
}
.pincode{
    width: 225px;
}
.button{
   background-color: rgb(84, 140, 243);
   color: #ffff
}
.password{
    width: 225px;
    margin-left: 10px;
}

